.App {
  text-align: center;
  background-color: #e05f6e;
}

.App-header {
  background-color: #e05f6e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.hed{
  background-color: #c12638;
  color: aliceblue;
}
.calcWrap{
display: flex;
flex-direction:column;
background-color: black;
padding: 10px;
border-radius: 15px;
box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
}
.Calc {
  display: flex;
  display: contents;
  justify-content:center;
  background-color: burlywood;
  width: 200px;
  padding: 50px;
}
input
{
  border-radius: 10px;
  background-color:rgb(216, 232, 252);
  height: 30px;
  width: 200px;
  margin-bottom: 10px;
}
input:hover{
  background-color: aqua;
  box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 47px 0px rgba(22, 124, 140, 0.75);
  -moz-box-shadow: 10px 10px 47px 0px rgba(22, 124, 140, 0.75);
}
.row{
  display: flex;
  margin-top: 5px;

}
button{
  background-color: rgb(255, 255, 255);
  color: black;
  border-style: hidden;
  border-radius: 30%;
  height: 50px;
  width: 50px;
  margin-inline-end: 3px;
  box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
}
.buttonC{
  background-color: rgb(4, 26, 52);
  color: antiquewhite;
  border-style: hidden;
  }
  .buttonPlus{
    background-color: rgb(174, 189, 208);
    color: rgb(25, 18, 9);
    border-style: hidden;
    }
    .buttonMin{
      background-color: rgb(174, 189, 208);
      color: rgb(25, 18, 9);
    border-style: hidden;
    }
    .buttonMult{
      background-color: rgb(174, 189, 208);
      color: rgb(25, 18, 9);
    border-style: hidden;
    }
    .buttonDevid{
    background-color: rgb(174, 189, 208);
    color: rgb(25, 18, 9);
    border-style: hidden;
    }
.buttonE{
background-color: rgb(52, 4, 4);
color: antiquewhite;
border-style: hidden;
}
button:hover{
  background-color: aqua;
  color: blue;
  box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 47px 0px rgba(22, 124, 140, 0.75);
-moz-box-shadow: 10px 10px 47px 0px rgba(22, 124, 140, 0.75);
}

